---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

body {
 background-color: #fc5c65;
 color: #fdfdfd;
}

.site-title, .site-title:visited {
  color: #fdfdfd;
  font-weight: bolder;
  letter-spacing: 0.02em;
}

.post-meta {
  color: #fdfdfd;
}

.post-link {
color: #fdfdfd
}

a:visited {
color: #fdfdfd
}

a:hover {
color: #26de81
}

.orange {
  color: #fdfdfd;
}

.footer-col-wrapper, .social-links {
  font-size: 0.9375rem;
  color: #fdfdfd;
}
