---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

$brand-color: #fdfdfd;
$link-visited-color: #fdfdfd;
$link-base-color: #fdfdfd;

body {
 background-color: #ff5e57;
 color: #fdfdfd;
}

a.site-title, a.site-title:visited {
  color: #fdfdfd;
  font-weight: 555;
  letter-spacing: 0.02em;
}

.post-meta {
  color: #ffc048;
}

a.post-link, a.post-link:visited {
color: #fdfdfd;
}

.site-footer {
  border-top: 0px;
}

.site-header {
  border-top: 10px solid #fdfdfd;
  border-bottom: 0px;
}

li.p-name {
  color: #fdfdfd;
}

svg.svg-icon.orange {
  fill: #fdfdfd;
  color: #fdfdfd;
}

svg.svg-icon.grey {
  fill: #fdfdfd;
  color: #fdfdfd;
}

/**
 * Links
 */

a {
  color: #fdfdfd;
  text-decoration: none;

  &:visited {
    color: #fdfdfd;
  }

  &:hover {
    color: #fdfdfd;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}
