---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

body {
 background-color: #fc5c65;
 color: #fdfdfd;
}

a.site-title, .site-title:visited {
  color: #fdfdfd;
  font-weight: bolder;
  letter-spacing: 0.02em;
}

.post-meta {
  color: #fdfdfd;
}

a.post-link {
color: #fdfdfd;
}

.site-footer {
  border-top: 0px;
}

.site-header {
  border-top: 10px solid #fdfdfd;
  border-bottom: 0px;
}

a:visited {
color: #fdfdfd;
}

a:hover {
color: #26de81;
}

.svg-icon {
  fill: #fdfdfd;
}

.p-name {
  font-size: 0.9375rem;
  color: #fdfdfd;
}
